*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  width: 100%;
  background-color: #fff;
  font-size: 16px;
}
a{
  text-decoration: none;
}
.header-container{
  width: 1180px;
  height: 150px;
  margin: 0 auto;
  margin-bottom: 3px;
}
.company-logo{
  width: 220px;
  height: 50px;
  margin-top:50px; 
  margin-left: 0;
}
.header-container:before{
  content: "";
  display: table;
}
.logo{
  width: 220px;
  height: 50px;
}
.header-navigation{
  width: 100%;
  height: 44px;
  background-color: #ff6f00;
  margin: 0 auto;
}
.navigation{
  position: relative;
  list-style-type: none;
  width: 1180px;
  margin: 0 auto;
}
.clearfix:after{
  clear: both;
  content: "";
  visibility: hidden;
}
.navigation-item{
  position: relative;
  float: left;
  text-align: center;
  line-height: 44px;
  margin: 0 68px 0 10px;
}
.navigation-item a{
  color:#fff;
  font-weight: bold;
}
.navigation-item a:hover::after{
  content: '';
  position: absolute;
  bottom: 4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
}
.mobile{
  position: absolute;
  top: 0;
  right: 0;
  line-height: 44px;
}
.mobile-img{
  width: 17px;
  height: 22px;
  vertical-align: middle;
  margin-right: 2px;
}
.mobile-client{
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}
section{
  width: 1180px;
  margin: 0 auto;
  padding-bottom: 10px;
}
.home-top{
  position: relative;
  width: 100%;
  height: 400px;
  margin: 20px 0;
}
.left-side{
  width: 860px;
  height: 360px;
}
.banner-parent{
  width: 100%;
  height: 100%;
  position: relative;
}
.banner{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.banner img{
  width: 100%;
  height: 100%;
}
.arrow img{
  width: 41px;
  height: 73px;
}
.arrow-left{
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-36.5px);
}
.arrow-right{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-36.5px);
}
.indicator{
  position: absolute;
  left: 50%;
  bottom: 20px;
  width: 35px;
  height: 21px;
}
.indicator-item{
  width: 25px;
  height: 4px;
  background-color: rgb(255,111,0);
  margin-right: 17.5px;
  display: inline-block;
}
.right-side{
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 360px;
  border: 1px solid #e0e0e0;
}
.top{
  position: relative;
  width: 280px;
  height: 120px;
  box-sizing: content-box;
  margin: 20px 10px;
}

.top-left{
  width: 103px;
  height: 103px;

}
.top-img{
  width: 100%;
  height: 100%;
}
.top-img img{
  width: 100%;
  height: 100%;
}
.top p{
  font-size: 12px;
  color: #666;
}


aside{
  width: 44px;
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.guide{
  box-sizing: content-box;
  width: 44px;
  height: 43px;
  background-color: #5e5855;
  text-align: center;
  margin: 0 auto;
  padding-top: 14px;
  margin-bottom: 1px;
  cursor: pointer;
  
}
.app img{
  width: 21px;
  height: 31px;
}
.weixin img{
  width: 30px;
  height: 24px;
}
.weibo img{
  width: 25px;
  height: 26px;
}
.top img{
  width: 25px;
  height: 26px;
}
footer{
  width: 100%;
  background-color: #fafafa;
  color: #666;
  font-size: 12px;
  border-top: 1px solid #e0e0e0;
}
.footer-container{
  width: 1180px;
  height: 210px;
  position: relative;
  margin: 0 auto;
  text-align: left;
}
.footer-container:before{
  content: "";
  display: table;

}
.company{
  width: 100%;
  line-height: 19px;
  margin-top: 38px;
}
.company ul:after{
  content: "";
  display: block;

}
.company-link{
  list-style-type: none;
  display: block;
}
.company-item{
  float: left;
  text-decoration: none;
  padding-right: 10px;
}
footer a{
  color: #666;
}
.company-item-split:after{
  content: "|";
  position: absolute;

}
.company-item-name{
  padding-left: 5px;
}
.company-desc{
  width: 100%;
  padding-top: 18px;
  line-height: 19px;
}
.company-desc a img{
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
.serv{
  position: absolute;
  top: 48px;
  right: 0;
  text-align: right;
}